@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

@font-face {
	font-family: "HotSauce";
	src: local("HotSauce"), url("fonts/HotSauce.ttf") format("truetype");
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 1em;
	display: inline-block;
}

.sauce-link img {
	width: 150px;
	height: auto;
}

.font-test {
	font-family: HotSauce;
	font-size: 100px;
}

.cart-title {
	text-align: "center";
	margin: "auto";
	margin-bottom: "40px";
	font-size: "50px";
}

.cart-item {
	display: "flex";
	justify-content: "center";
	align-items: "center";
	padding-top: "20px";
	padding-bottom: "20px";
	margin-bottom: "20px";
	margin-left: "auto";
	margin-right: "auto";
	padding: "20 50 20 50";
	width: "500px";
	border: "1px solid black";
	border-radius: "15px";
}

#landingtitle {
	font-family: HotSauce;
	text-align: center;
	font-size: 10rem;
	line-height: 150px;
	margin-top: 120px;
	color: yellow;
}

#landingsubtitle {
	font-family: HotSauce;
	text-align: center;
	font-size: 60px;
	color: red;
}

#landingbutton {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 150px;
	font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	font-weight: bolder;
}

#landingbutton:hover {
	background-color: red;
	color: white;
}

.fa-stack[data-count]:after {
	position: absolute;
	right: 0%;
	top: 0%;
	content: attr(data-count);
	font-size: 40%;
	padding: 0.6em;
	border-radius: 999px;
	line-height: 0.75em;
	color: black;
	text-align: center;
	min-width: 2em;
	font-weight: bold;
	background: white;
	border-style: solid;
}
