@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.sauce-link img {
  width: 150px;
  height: auto;
}
